@model Project.Entity.Plant
@{
    ViewBag.Title = "AddPlant";
}
@section Header{
}
<div class="d-flex justify-content-center">
    <div class="col-md-6 mt-5">
        <form action="/Plant/AddPlant" method="post">
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">Bitki Ekle</h3>
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                        </div>
                        @Html.TextBoxFor(x => x.Name, new { placeholder = "Bitki Adı", @class = "form-control", required = true })
                    </div>

                    <select class="users" id="UserId" name="UserId">
                    </select>

                    <!-- /input-group -->
                </div>
                <!-- /.card-body -->
                <div class="card-footer text-right">
                    <button type="submit" class="btn btn-info">Kaydet</button>
                    <div class="btn btn-danger"><a href="/Home/Index" style="color:white">Vazgeç</a></div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="~/Content/AdminLTE/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript">


    $(function () {
        $(".users").select2({
            width:'off',
            theme:'bootstrap4',
            ajax: {
                url: '/Api/GetUsers',
                dataType: 'json',
                type: 'GET',
                processResults: function (data) {
                    return {
                        results: $.map(data.json.Data, function (item) {
                            return {
                                text: item.Name + " " + item.Surname,
                                id: item.Id
                            }
                        })
                    };
                }
            }
        });

    });




</script>



