@model Project.Entity.Plant
@{
    ViewBag.Title = "Status";
}
@section Header{

}


    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 mt-5">
                    <!-- interactive chart -->
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="far fa-chart-bar"></i>
                                Canlı Nem Oranı Bilgisi
                            </h3>

                            <div class="card-tools">
                                Canlı Veri
                                <div class="btn-group" id="realtime" data-toggle="btn-toggle">
                                    <button type="button" class="btn btn-default btn-sm active" data-toggle="on">On</button>
                                    <button type="button" class="btn btn-default btn-sm" data-toggle="off">Off</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="interactive" style="height: 300px;"></div>
                        </div>
                        <!-- /.card-body-->
                    </div>
                    <!-- /.card -->

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">

                <!-- /.col -->

                <div class="col-md-6">
                    <!-- Bar chart -->
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="far fa-chart-bar"></i>
                                Aylık Ortalama Nem Oranları
                            </h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="#">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div id="bar-chart" class="card-body">

                        </div>
                        <canvas id="barchart" style="width:100%;"></canvas>
                        <!-- /.card-body-->
                    </div>

                    <!-- /.card -->
                </div>
                <div class="col-md-6">
                    <!-- Bar chart -->
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="far fa-chart-bar"></i>
                                Bitkiye Ait Bilgiler
                            </h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div id="plant-info" class="card-body">

                        </div>
                        <!-- /.card-body-->
                    </div>

                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->



@section Script{


    <script src="~/Content/AdminLTE/plugins/flot/jquery.flot.js"></script>
    <!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
    <script src="~/Content/AdminLTE/plugins/flot/plugins/jquery.flot.resize.js"></script>
    <!-- FLOT PIE PLUGIN - also used to draw donut charts -->
    <script src="~/Content/AdminLTE/plugins/flot/plugins/jquery.flot.pie.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Page specific script -->
    <script>
        $(function () {
            var dataNow = [];

            function getCurrentHumidity() {
                $.ajax({
                    url: "/Api/getrealtimedata?plantId=@Model.Id",
                    success: function (result) {
                        dataNow = [];
                        $.each(result, function (item, value) {
                            dataNow.push([item, value[1]])
                        })
                        return dataNow;

                    }
                });
            }

            var interactive_plot = $.plot('#interactive', [
                {
                    data: getCurrentHumidity(),
                }
            ],
                {
                    grid: {
                        borderColor: '#f3f3f3',
                        borderWidth: 1,
                        tickColor: '#f3f3f3'
                    },
                    series: {
                        color: '#3c8dbc',
                        lines: {
                            lineWidth: 2,
                            show: true,
                            fill: true,
                        },
                    },
                    yaxis: {
                        min: 0,
                        max: 110,
                        show: true
                    },
                    xaxis: {
                        min: 0,
                        max: 100,
                        show: false
                    }
                }
            )

            var updateInterval = 500 //Fetch data ever x milliseconds
            var realtime = 'on' //If == to on then fetch data every x seconds. else stop fetching
            function update() {
                getCurrentHumidity();
                interactive_plot.setData([dataNow])
                /*interactive_plot.setData(getCurrentHumidity())*/

                // Since the axes don't change, we don't need to call plot.setupGrid()
                interactive_plot.draw()
                if (realtime === 'on') {
                    setTimeout(update, updateInterval)
                }
            }

            if (realtime === 'on') {
                update()
            }
            $('#realtime .btn').click(function () {
                if ($(this).data('toggle') === 'on') {
                    realtime = 'on'
                }
                else {
                    realtime = 'off'
                }
                update()
            })



            var barColors = ['rgba(255, 99, 132, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 205, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(201, 203, 207, 0.2)'];
            var borderColors = ['rgb(255, 99, 132)',
                'rgb(255, 159, 64)',
                'rgb(255, 205, 86)',
                'rgb(75, 192, 192)',
                'rgb(54, 162, 235)',
                'rgb(153, 102, 255)',
                'rgb(201, 203, 207)'];

            var barData = [];
            var months = [];
            var monthsTr = ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran",
                "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"];

            

             $.ajax({
                url: "/Api/GetAverageHumidityLastSixMonths?plantId=@Model.Id",
                beforeSend: function () {
                    var html = "";
                    html = '<div id="loading-bar-chart" class="d-flex justify-content-center align-items-center"><div class="spinner-border" role="status">'
                        + '<span id="loading" class="sr-only" > Yükleniyor...</span>'
                        + '</div></div>';
                    $("#bar-chart").append(html);
                },
                success: function (result) {
                    $.each(result, function (item, value) {
                        months.push(monthsTr[value.Month - 1])
                        barData.push(value.Humdity)
                    })
                    new Chart("barchart", {

                        type: "bar",
                        data: {
                            labels: months,
                            datasets: [{
                                label: "Ortalama Nem Oranı",
                                backgroundColor: barColors,
                                borderColor: borderColors,
                                borderWidth: 1,
                                data: barData
                            }]
                        },

                        /*options: { ...}*/
                    });
                    $("#bar-chart").hide();
                   

                    return months;
                }
            });

            
            

        })
        function labelFormatter(label, series) {
            return '<div style="font-size:13px; text-align:center; padding:2px; color: #fff; font-weight: 600;">'
                + label
                + '<br>'
                + Math.round(series.percent) + '%</div>'
        }
    </script>
}

